form{
    border: solid 1px rgb(255, 255, 255);
    width: 450px;
    padding-left: 10px;
    padding-top: 30px;
}
body{
    background-image: url(fa.jpg);
    background-repeat: no-repeat;
    background-size: 1370px 645px;
}
label{
    color: rgb(255, 255, 255);
    font-size: 23px;
    font-weight: bold;

}
h1{
    color: white;
    font-size: 40px;
    text-align: center;
}
input{
    height: 30px;
    width: 300px;
    background: none;
    outline: none;
    outline: none;
    border: none;
    border-bottom-style: solid;
    border-bottom-color: goldenrod;
    border-bottom-width: 5px;
    color: blue;
    font-size: 20px;
}
textarea{
    width: 300px;
    height: 90px;
}
button{
    height: 50px;
    width: 150px;
    background-color: rgb(255, 0, 111);
    color: wheat;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
}
#avatar{
    border-radius: 50%;
    position: relative;
    left: 100px;
    top: 50px;
    
}