#box1{
    border: solid 1px;
    height: 180px;
    background-color: red;
    
}
#box2{
    border: solid 1px;
    height: 180px;

}
#box3{
    border: solid 1px;
    height: 180px;
    background-color: green;
}