*{
    margin: 0px;
    padding: 0px;
}
.out1{
    border: solid 1px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    background-color: black;
}
#in1,#in2{
    border: solid 1px;
    height: 100px;

}
#in1{
    width: 100px;
    margin-left: 100px;
}
#in2{
    width: 550px;
}
ul{
    list-style: none;
}
ul li{
    border: solid 1px;
    height: 100px;
    width: 100px;
    float: left;
    text-align: center;
    line-height: 100px;
}
ul li a{
    font-size: 21px;
    text-decoration: none;
    font-weight: bold;
}
ul li a:hover{
    color: rgb(42, 210, 30);
    font-size: 23px;
}
.out2{
    border: solid 1px;
    height: 700px;
    background-image: url(rajkumar.jfif);
     background-repeat: no-repeat;
    background-size: 1400px 700px;
}
#welcome{
    color: white;
    font-size: 50px;
    margin-left: 90px;
    margin-top: 100px;
    text-shadow: 3px 3px 5px white;
}
#taste{
    color: white;
    font-size: 35px;
    margin-left: 90px;
    margin-top: 23px;
}
#menu{
    margin-left: 90px;
    margin-top: 20px;
    width: 200px;
    background-color: orangered;
    color: white;
}
#menu:hover{
    background-color: gold;
}
.out3{
    border: solid 1px;
    height: 450px;
    display: flex;
    justify-content: space-evenly;
    background-color: black;

}
    #in3,#in4{
    border: solid 1px;
    height: 450px;    

}
#in3{
    width: 450px;
}
#in4{
    width: 600px;
}
#about{
    font-size: 45px;
    margin-top: 40px;
    color: white;
    
}
#text1{
    font-size: 23px;
    color: white;

}
out4{
    border: solid 1px;
    height: 600px;
    display: flex;
    justify-content: space-evenly;
}
#in5,#in6,#in7{
    border: solid 1px;
    height: 600px;
    width: 350px;

}
#ing1{
    margin-top: 70px;
}
#ing2{
    margin-top: 70px;
}
#menu1{
    color: white;
    text-align: center;
}
#menu2{
    color: white;
    font-size: 18px;
}